{% extends "CMSCoreBundle::layout.html.twig" %}

{% block title %}
    Fiche Users
{% endblock %}

{% block body %}
    <h2>Fiche User</h2>
    <div class="container-fluid well span6">
        <div class="row-fluid">
            <div class="col-md-4">
                <img src="http://s9.postimg.org/uylsxjghr/people_dialer_photo.png" class="img-circle">
            </div>
            <div class="col-md-8">
                <h3>{{ app.user.username|capitalize }}</h3>
                <h6>Email: {{ app.user.email }}</h6>
                <h6>Role: {{ app.user.roles|join(' , ') }}</h6>
                <h6>Ville</h6>
                <h6>Inscrit le</h6>
                <h6>Dernière connexion le: {{ app.user.lastlogin|date('d/m/Y') }}</h6>
                <h6>Participation</h6>
                <h6><a href="#">Lien</a></h6>
            </div>
        </div>
    </div>
{% endblock %}
