{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Modifier les paramètres de votre blog - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Chosir un thème</h2>

    {{ include("CMSBlogBundle:Custom:form.html.twig") }}

    <p>
        <a href="{{ path('cms_custom_index') }}" class="btn btn-success">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au menu
        </a>

        {#<a href="{{ path('cms_custom_names_delete', {'id':blogNames.id}) }}" class="btn btn-danger">#}
            {#<i class="glyphicon glyphicon-trash"></i>#}
            {#Supprimer les paramètres#}
        {#</a>#}
    </p>

{% endblock %}

