{% extends 'CMSBlogBundle::layout.html.twig' %}


{% block cms_body %}
    <h2>Personnalisation de votre blog</h2>

    <div class="row">

        <div class="col-md-4">
            <div class="flip">
                <h3>
                    <button class="btn btn-info btn-xs pull-right"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                    </button>
                </h3>
            </div>

            <div class="panel-flip bg-info">
                <ul>
                    <li>Ici vous avez la possibilité de choisir et customizer l'entete de votre site (Nom + Description
                        facultative)
                    </li>
                </ul>
            </div>

            <ul>
                <li><a href="{{ path('cms_custom') }}">Chosir un nom / une description pour votre blog &nbsp;&nbsp;<i
                                class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <div class="flip">
                <h3>
                    <button class="btn btn-info btn-xs pull-right"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                    </button>
                </h3>
            </div>

            <div class="panel-flip bg-info">
                <ul>
                    <li></li>
                </ul>
            </div>

            <ul>
                {% for key, t in theme %}
                    {#<li><a href="{{ path('cms_custom_theme_edit', {'id': theme.id}) }}">Chosir un thème pour votre blog &nbsp;&nbsp;<i class="fa fa-arrow-circle-right"#}
                                                                                  {#aria-hidden="true"></i></a></li>#}
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}



