{% extends "CMSBlogBundle::layout.html.twig" %}

{% block stylesheets %}{{ parent() }}
{% endblock %}


{% block javascripts_head %}{{ parent() }}

    <script>
        tinymce.init({
            selector: '.tinymce',
            plugins: 'link, emoticons codesample',
            toolbar: "emoticons codesample"
        });

    </script>
{% endblock %}

{% block title %}
    Ajouter un article - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Ajouter un article</h2>

    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                </button>
            </h3>
        </div>

        <div class="panel-flip bg-info">
            <ul>
                <li>La longueur du titre doit être de 10 caractères</li>
                <li>Vous pouvez choisir une seule image par article pour l'instant</li>
                <li>Si vous cochez "publié", l'article sera immédiatement en ligne, à default il sera conservé en tant
                    que brouillon, vous pourrer y accéder depuis "la gestion des articles
                </li>
                <li>Vous pouvez choisir plusieurs catégorie pour un même article</li>
            </ul>
        </div>
    </div>
    <br><br>

    {{ include("CMSBlogBundle:Article:form.html.twig") }}

{% endblock %}

