{% extends "CMSBlogBundle::layout.html.twig" %}

{% block javascripts_head %}{{ parent() }}
    <script>
        tinymce.init({
            selector: '.tinymce',
            language_url: '{{ asset('bundles/stfalcontinymce/vendor/tinymce/langs/fr_FR.js') }}',
            plugins: 'link, emoticons, codesample, table image imagetools textcolor fullscreen print',
            toolbar: "emoticons codesample image forecolor backcolor fullscreen print imagetools"
        });
    </script>
{% endblock %}

{% block title %}
    Ajouter un article - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Ajouter un article</h2>

    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right btn-sm" style="margin-right: 2em;"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                </button>
            </h3>
        </div>

        <div class="panel-flip bg-info">
            <ul>
                <li>La longueur du titre doit être de 10 caractères minimum</li>
                <li>Vous ne pouvez choisir qu'une seule image par article pour l'instant</li>
                <li>Si vous cochez "publié", l'article sera immédiatement en ligne, à défaut il sera conservé en tant
                    que brouillon, vous pourrez y accéder depuis "la gestion des articles"
                </li>
                <li>Vous pouvez choisir plusieurs catégories pour un même article</li>
            </ul>
        </div>
    </div>
    <br><br>

    {{ include("CMSBlogBundle:Article:form.html.twig") }}

{% endblock %}

