{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Ajouter un article - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Ajouter un article</h2>

    {{ include("CMSBlogBundle:Article:form.html.twig") }}

{% endblock %}

{% block javascripts %}{{ parent() }}
    {{ tinymce_init() }}
{% endblock %}