
{# Ce template n'hérite de personne non plus #}

<ul class="nav nav-pills nav-stacked">
    {% for article in listArticles %}
        <li>
            <a href="{{ path('cms_blog_fiche', {'id': article.id}) }}">
                {{ article.title }}
            </a>
        </li>
    {% endfor %}
</ul>