{% extends "CMSCoreBundle::layout.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

    {{ render(controller('CMSBlogBundle:Carousel:isPublished')) }}

    {# On affiche tous les messages flash dont le nom est « info » #}
    {#{% for message in app.session.flashbag.get('info') %}#}
    {#<div class="alert alert-info">Message flash : {{ message }}</div>#}
    {#{% endfor %}#}

    {#Pour afficher les dernières annonces, on réutilise le contrôleur menu du PlatformBundle#}
    <hr>
    <h3 class="text-center">Actus</h3>
    <hr>

    <div class="container-fluid">
        {{ render(controller("CMSBlogBundle:Article:menu", {'limit': 4})) }}
    </div>

{% endblock %}

