{% extends 'CMSBlogBundle::layout.html.twig' %}

{% block cms_body %}
    <h2>Gestion des Menus</h2>



    <div class="col-md-6">
        <h4>Liste des menus existants</h4>

        {% for menu in listMenus %}
            <li><a href="{{ path('cms_menu_listcate', {'id': menu.id}) }}">{{ menu.nom }}</li></a>
        {% endfor %}
    </div>


    <div class="col-md-6">
        <a href="{{ path('cms_menu_add') }}">
            <button class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Créer un menu</button>
        </a>
    </div>


{% endblock %}