{% extends 'CMSBlogBundle::layout.html.twig' %}


{% block cms_body %}
    <h2>Gestion des Menus</h2>
    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                </button>
            </h3>
        </div>

        <div class="panel-flip">
            <p class="bg-info">Ici vous allez pouvoir consulter les menus déjà crées, et en créer</p>
            <p class="bg-info">Attention un seul menu peu etre géré pour l'instant, pensez a bien suppimer votre menu
                avant d'en mettre en ligne un nouveau</p>
        </div>

        <a href="{{ path('cms_menu_add') }}">
            <button class="btn btn-primary pull-left"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Créer un
                menu
            </button>
        </a>
    </div>

    <h4>Liste des menus existants</h4>

    {% for menu in listMenus %}
        <li>
            <a href="{{ path('cms_menu_listcate', {'id': menu.id}) }}"
               title="Cliquez pour voir le menu en détail">{{ menu.nom }}&nbsp;&nbsp;<i
                        class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
        </li>
    {% endfor %}

{% endblock %}

{% block javascripts %}{{ parent() }}
{% endblock %}

