{% for m in listM %}
    {% if m.published == true %}
        {% for i in m.categories %}
            <a href="{{ path('cms_menu_show_article', {'id': i.id} ) }}">{{ i.name }}</a>
        {% endfor %}
    {% endif %}
{% endfor %}

{% for page in pageContact %}
    {% if page.published %}
        <a href="{{ path('cms_contact_page_fa') }}">{{ page.name }}</a>
    {% endif %}
{% endfor %}
