{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Editez une image - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2> Editez une image du carousel</h2>

    {{ include("CMSBlogBundle:Custom:form.html.twig") }}

    <p>
        <a href="{{ path('cms_custom_carousel') }}" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au menu
        </a>
    </p>

{% endblock %}

