{% extends "CMSCoreBundle::layout.html.twig" %}

{% block title %}
    Articles - {{ parent() }}
{% endblock %}

{% block body %}


    <h1>Articles</h1>

    <hr>

    {% block cms_body %}


    {% endblock %}

{% endblock %}