{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Création d'un carousel - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Ajout d'image
    </h2>

    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                </button>
            </h3>
        </div>

        <div class="panel-flip">
            <ul class="bg-info">
                <li>Vous allez pouvoir uploader 3 images</li>
                <li>Les attribuer au carousel préalablement crée</li>
                <li>Ajouter une description qui apparaitrait dans le footer du carousel</li>
            </ul>
        </div>

    </div>

    <br>

    {{ include("CMSBlogBundle:Custom/Carousel:form.html.twig") }}

{% endblock %}



