{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Création d'un carousel - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Configuration du carousel</h2>

    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right btn-sm" style="margin-right: 2em;"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide</button>
            </h3>
        </div>

        <div class="panel-flip">
            <ul class="bg-info">
                <li>Dans un premier temps, attribuer un nom (aucune importance) au carousel</li>
                <li>Vous allez pouvoir uploader 3 images</li>
                <li>Les attribuer au carousel préalablement créé</li>
                <li>Ajouter une description qui apparaitra dans le footer du carousel</li>
            </ul>
        </div>

    </div>

    <br>

    {{ include("CMSBlogBundle:Custom/Carousel:form.html.twig") }}

{% endblock %}



