{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Modifier un user- {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Modifier le rôle d'user</h2>

    {{ include("CMSBlogBundle:User:form.html.twig") }}

    <p>
        <a href="{{ path('cms_user_fiche', {'id': user.id}) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la fiche utilisateur
        </a>
    </p>

{% endblock %}